payments-webapp/.project
payments-webapp/.settings
payments-webapp/.classpath
payments-webapp/target

internal-account-system/.project
internal-account-system/.settings
internal-account-system/.classpath
internal-account-system/target

internal-crm-service/.project
internal-crm-service/.settings
internal-crm-service/.classpath
internal-crm-service/target

internal-loan-system/.project
internal-loan-system/.settings
internal-loan-system/.classpath
internal-loan-system/target

PSE-payment-app/.project
PSE-payment-app/.settings
PSE-payment-app/.classpath
PSE-payment-app/target

SWIFT-payment-app/.project
SWIFT-payment-app/.settings
SWIFT-payment-app/.classpath
SWIFT-payment-app/target
